# Secrets & Environment Variables
.env

# Build and Target Directories
**/target/
build/

# IDE and System Files
.idea/
*.iml

# Compiled Java Files
*.class
*.jar

#desing and architecture related document
Design_related_document/

#script file
build-service.sh
start-service.sh
